@import "../Mixin/Mixin.scss";

.OfferDiv{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-flow: row wrap;
    .OfferCard{
        width: calc(100% / 3 - 65px);
        
        .OfferCard-Wrapper{
            height: 240px !important;
            width: 100% !important;
            .OfferCard-Info{
                transform: translateX(170px) !important;
                gap: 27px;
                .shop-wrapper{
                    .shop{
                        a{
                            font-size: 16px !important;
                            font-weight: 300 !important;
                        }
                    }
                }
            }
        }
    }
}

.OfferCard{
    width: fit-content;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    &:hover{
        .type{
            background-color: $main-color !important;
            color: white;
        }
    }
    .OfferCard-Wrapper{
        border-radius: 5px;
        width: 337.328px;
        height: 240px;
        overflow: hidden;
        position: relative;
        .OfferCard-Info{
            display: flex;
            align-items: start;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            position: absolute;
            right: 200px;
            top: 20px;
            width: 125px;
            .shop-wrapper{
                .shop{
                    a{
                        font-size: 16px !important;
                        font-weight: 300 !important;
                    }
                }
            }
            .type{
                background-color: #FFFFFF99;
                font-size: 13px;
                padding: 5px 9px;
                border-radius: 3px;
                transition: 0.5s ease;
                cursor: default;
            }
            .name{
                font-size: 18px;
                letter-spacing: 3px;
                font-weight: 600;
                height: 60px;
                width: inherit;
                cursor: default;
            }
            .shop-wrapper{
                .arrow-cyc::after,.arrow-cyc::before{
                    box-sizing: inherit;
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    top: -2px;
                    left: -2px;
                    border: 2px solid transparent;
                }
            }
            .shop-wrapper:hover{
                transition: all 1s linear;
                .shop::before{
                    width: 0;
                }
            }
            .shop{
                font-size: 11px;
                font-weight: 900;
                display: flex;
                gap: 3px;
                align-items: center;
                cursor: pointer;
                margin-bottom: 5px;
                a{
                    color: black;
                    text-decoration: none;
                }
                &::before{
                    content: " ";
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 3px;
                    width: 80px;
                    color: black;
                    background-color: black;
                    transition: .3s;
                }     

            }
        }
        img{
            transition: 0.5s;
            position: absolute;
            width: 110%;
            height: 100%;
            background-position: cover;
        }
    }
    &:hover{
        img{
            transform: translateX(-20px);
        }
    }
}

@media only screen and (max-width: 748px){
    .cards{
        width: 95%;
        .OfferCard{
            width: 102%;
            border-radius: 5px;
            .OfferCard-Wrapper{
                width: 98%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

}

@media only screen and (max-width: 730px) {
    .OfferDiv{
        .OfferCard{
            width: 90%;
            .OfferCard-Wrapper{
                width: 100%;
                margin: 0 !important;
                padding: 0;
                box-sizing: border-box;
                height: 270px;
            }
        }
    }
}

