@keyframes border {
  0% {
    box-shadow: 60px -60px 0 2px white, -60px -60px 0 2px white, -60px 60px 0 2px white, 60px 60px 0 2px white, 0 0 0 2px #E94E3D;
  }
  25% {
    box-shadow: 0 -125px 0 2px white, -60px -60px 0 2px white, -60px 60px 0 2px white, 60px 60px 0 2px white, 0 0 0 2px #fff;
  }
  50% {
    box-shadow: 0 -125px 0 2px white, -125px 0px 0 2px white, -60px 60px 0 2px white, 60px 60px 0 2px white, 0 0 0 2px #fff;
  }
  75% {
    box-shadow: 0 -125px 0 2px white, -125px 0px 0 2px white, 0px 125px 0 2px white, 60px 60px 0 2px white, 0 0 0 2px #fff;
  }
  100% {
    box-shadow: 0 -125px 0 2px white, -125px 0px 0 2px white, 0px 125px 0 2px white, 120px 40px 0 2px white, 0 0 0 2px #fff;
  }
}
h4 {
  padding: 0;
  margin: 0;
}

.productComponent-wrapper {
  display: flex;
  flex-direction: row;
}

.ranges {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.range-s-three {
  display: flex;
  justify-content: space-between;
}
.range-s-three .range-price {
  font-size: 16px;
  color: #666666;
}
.range-s-three .range-filter {
  font-size: 12px;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}
.range-s-three .range-filter:hover {
  color: #F02757;
  font-weight: 700;
}

.filter {
  background-color: white;
  padding: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
}
.filter .filter-range-wrapper {
  width: 100%;
  position: relative;
}
.filter .filter-range-wrapper .filter-range {
  width: 100%;
  position: relative;
}
.filter .filter-range-wrapper .filter-range input[type=range] {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  pointer-events: none;
  background-color: transparent;
}
.filter .filter-range-wrapper .filter-range .track {
  width: 100%;
  height: 2px;
}
.filter .filter-range-wrapper .filter-range input[type=range]::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  cursor: e-resize;
}

.shop-products-wrapper {
  width: auto;
  position: relative;
}

.shop-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.no-RES {
  display: flex;
  text-align: center;
  width: 100%;
}

.filter-header {
  display: none;
  width: auto;
  background-color: white;
  padding: 20px 30px;
  align-items: center;
  justify-content: space-between;
}
.filter-header .filter-left {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 11px;
  cursor: pointer;
}
.filter-header .filter-left:hover {
  color: #F02757;
}
.filter-header .filter-left:hover :nth-child(2) {
  border-color: #F02757;
}
.filter-header .filter-left :nth-child(1) {
  font-size: 18px;
}
.filter-header .filter-left :nth-child(2) {
  border-bottom: 1px solid black;
  padding: 5px;
}

.effe {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  z-index: 100000;
  display: none;
}

@media only screen and (max-width: 1100px) {
  .productComponent-wrapper {
    justify-content: center;
    flex-direction: column;
  }
  .filter-header {
    display: flex;
  }
}/*# sourceMappingURL=search.css.map */