@import "../Mixin/Mixin.scss";
.mySwipers{
    height: 500px;
    border-radius: 5px;
    width: 57%;
    margin: 0;
    padding: 0;
    margin-right: 0 !important;
}
.swiper-slide{
    border-radius: 5px;
    .img{
        border-radius: 5px;
    }
}
.swiper-pagination{
    text-align: left !important;
    margin-left: 10px;
}
.swiper-pagination-bullet{
    background-color: white !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active{
    background-color: $main-color !important;
    width: 20px;
    border-radius: 10px;
}
.Slide{
    
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #D0E3ED;
    // gap: 120px;  
    justify-content: space-between;
    padding: 0 0 0 30px;
    overflow: hidden;
    position: relative;
    border-right: none;
    &::after{
        content: " ";
        display: block;
        position: absolute;
        left: -100px;
        height: 100px;
        width: 200%;
        background-color: white;
        opacity: 0.4;
        transform: rotate(-45deg);
        z-index: 1;
    }
    &::before{
        content: " ";
        display: block;
        position: absolute;
        left: -100px;
        height: 35px;
        width: 200%;
        background-color: white;
        opacity: 0.4;
        transform: rotate(-45deg);
        z-index: 1;
    }
    .imgTwo{
        width: 70%;
        margin-right: 20px;
        position: relative;
        transition: 1s ease-in-out;
        z-index: 100;
        margin-left: 100px;
    }
    .imgOne{
        width: 70%;
        transform: translateX(540px);
        transition: 1s ease-in-out;
        z-index: 100;
        margin-left: 120px;
    }

    .texter{
        position: relative;
        height: 100%;
        display: flex;
        align-items: start;
        margin-left: 20px;
        gap: 40px;
        width: 60%;
        justify-content: center;
        flex-direction: column;
        z-index: 100 !important;

        .detailes{
            transition: unset;
            transition: 1.3s;
            font-size: 2.5vw;
            transform: translateX(-340px);
        }
        .offer{
            transition: 0.5s;
            font-size: 2vw;
            transform: translateX(-340px);
            transition: .8s;
        }
        .shop{
            cursor: pointer;
            transition: .3s;
            transform: translateX(-340px);
            background-color: white;
            font-size: 1.5vw;
            color: black;
            font-weight: 600;
            padding: 15px 30px;
            display: flex;
            gap: 10px;
            align-items: center;
            border-radius: 3px;
            transition: .3s;
            &:hover{
                background-color: black;
                color: white;
                transition: .3s;
                span a{
                    color: white;
                }
            }
        }
    }
        .texter > .title{
            transform: translateX(-340px);
            transition: 1.6s;
            width: 85px;
            background-color: #ebf6fd;
            padding: 2px 6px;
            font-size: 12px;
            text-transform: capitalize;
        border-radius: 3px;
    }
}
.ico{
    font-size: 10px;
}

@keyframes walking {
    from {transform: translateX(540px);}
    to {transform: translateX(-30px);}
  }
  .mySwipers {
    border-left: 10px solid #D0E3ED;
  }
  @media only screen and (max-width: 656px){
    .elswiper{
        height: 800px !important;
        .Slide {
            flex-wrap: wrap;
            justify-content: center;
            &::after{
                display: none;
            }
            &::before{
                display: none;
            }
            .texter{
                height: fit-content !important;
            }
        }
    }
    .elswiper{
        // height: 420px ;
        width: 94% !important;
    }
  }
  .shop {
    span{
        a{
            transition: 0.3s;
            text-decoration: none;
            color: black;
        }
    }
  }
  @media only screen and (max-width: 784px){
    .mySwipers{
        width: 100%;
    }
  }
  @media only screen and (max-width: 377px){
    .elswiper{
        width: 94% !important;
    }
  }
  @media only screen and (max-width: 450px){
    .elswiper{
        width: 94% !important;
    }
    .imgOne{
        width: 50% !important;
    }
    .imgTwo{
        width: 100% !important;
    }
    .elswiper{
        height: 800px !important;
        .Slide {
            flex-wrap: wrap;
            justify-content: center;
            &::after{
                display: none;
            }
            &::before{
                display: none;
            }
            .texter{
                height: fit-content !important;
            }
        }
    }
    .shop, .offer, .detailes{
        font-size: 20px !important;
    }
    .imgOne, .imgTwo{
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
        z-index: 10 !important;
    }
    .Slide{
        padding: 0 !important;
        gap: 0 !important;
    }
  }