@import "../../SASS/Mixin/Mixin.scss";

.Cart-head-path{
    @include path;
    a{
        color: #4e4e4e;
        &:hover{
            text-decoration: underline;
            color: $main-color;
        }
    }
}
.Cart-Component{
    padding: 50px 80px;
    .Cart-head{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-bottom: 50px;
    }

}
.Cart-Body{
    display: flex;
    gap: 50px;
}
.table-parent{
    overflow: auto;
    width: 100%;
}
.Cart-Table{
    flex: 1;
    thead{
        .pro{
            text-align: center;
        }
        tr, td{
            border-bottom: 1px solid #cccbcb;
            font-size: 12px;
            
        }
    }
    tbody{
        tr, td{
            border-bottom: 1px solid #cccbcb;
        }
        .Cart-Img{
            width: 90px;
            img{
                cursor: pointer;
                width: 90px;
            }
        }
        .delete-Item{
            span{
                cursor: pointer;
            }
        }
        .Cart-product-name{
            span a{
                color: black;
            }
            span:hover{
                a{
                    cursor: pointer;
                    color: $main-color;
                }
            }
        }
    }
}
.empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 10px;
    .emptyCart{
        font-size: 230px;
        color: #636363;
    }
    a{
        color: white;
        font-weight: 700;
        font-size: 16px;
    }
    button{
        all: unset;
        background-color: $main-color;
        padding: 20px 40px;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            background-color: $hover-color;
        }
    }
}
.totals-parent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:stretch;
    gap: 30px;
}
.st{
    border-bottom: 1px solid #cccbcb;
}
.total{
    font-size: 18px;

}
.table-copon{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.totals-parent-wrapper{
    background-color: white;
    // flex: 1;
    height: fit-content;
    padding: 30px 40px 50px;
    width: 500px;
    .totals-parent-body{
        display: flex;
        flex-direction: column;
        gap: 20px;
        div{
            display: flex;
            padding-bottom: 10px;
            justify-content: space-between;
        }
    }
    .ndTotal{
        font-weight: 700;
        font-size: 24px;
    }
    .totals-parent-foot{
        button{
            all: unset;
            background-color: $main-color;
            padding: 18px 0;
            width: 100%;
            text-align: center;
            color: white;
            font-size: 14px;
            font-weight: 700;
            cursor: pointer;
            border-radius: 5px;
            &:hover{
                background-color: $hover-color;
            }
        }
    }
}
.copon-wrapper{
    .copon{
        display: flex;
        gap: 20px;
        div{
            input{
                padding: 15px 25px;
                border-radius: 5px;
                    &:focus::-webkit-input-placeholder{
                        transition: all  0.6s  ease-in-out ;
                        transition-delay: 1s;
                        opacity: 0 ;
                }
            }
            input[type=button]{
                background-color: $main-color;
                color: white;
                font-weight: 700;
                cursor: pointer;
                &:hover{
                    background-color: $hover-color;
                }
            }
        }
    }
}
@media only screen and (max-width: 1020px) {
    .totals-parent-wrapper{
        width: 100%;
    }
    .Cart-Body{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .subTotals{
        width: 100%;
    }
    .Cart-Table{
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .Cart-Table{
        width: 100%;
        overflow-x: auto;
    }
    .totals-parent-wrapper{
        width: 100%;
    }
}
.copon-warring{
    display: none;
    width: auto;
    background-color: #e2401c;
    margin-bottom: 20px;
    padding: 18px 20px;
    border-left:.6180469716em solid rgba(0,0,0,.15);
    color: rgb(245, 225, 225);
}
@media only screen and (max-width:395px) {
    .copon{
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width:630px) {
    .table-copon{
        align-items: center;
    }
}